html
{
    background-color: black;
    color: white;
}

a
{
    color: white;
}

.Mytho
{
    margin-bottom: 0px;    
}

.GreekGods
{
    width: 200px;
    height: 768px;
    float: left;
}

.GreekGodImg
{
    width: 200px;
    height: 768px;
    float: left;    
}

.GreekGodBio
{
    width: 966px;
    height: 768px;
}

